* {
    margin: 0px
}
body {
    background-color: #3096cc;
    margin-left: none;
    margin-right: none;
}
h1 {
    color: #E8E3DA;
    text-align: center;
    font: 40px;
    padding-top: 30px;
    text-decoration: underline;
}
nav{
    background-color: rgb(146, 145, 145);
    background-size: auto;
    width: auto;
    text-align: center;   
}
nav li {
    display: inline-block;
    padding: 8px;
}
nav li a{    
    text-decoration: none; 
    color: #E8E3DA;
    font-size: 18px;
  
}
nav li a:hover{
    border: 1px solid #E8E3DA;
    font-size: 24px;
}
.donate a img{
    width:200px;
    height: 125px;
    position: fixed;
    top: 80%;
    left: 0%;
    opacity: .25;
}
.donate a img:hover{

    opacity: 1
}

.image{
    width: 80%;
    height: 400px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin:20px 120px 20px 120px;
    
}

h3{
    text-align: center;
    color: #E8E3DA;
    font-size: 30px;
    padding: 15px;
}
.column p{
    padding-top: 30px;
    color: #E8E3DA;
    line-height: 20px;
    margin: 10px 50px 10px 50px;
}
